[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WaveSampling"]
	path = WaveSampling
	url = https://github.com/rjauslin/wavesampling
